.right{
    float: right;
}
.up{
    color:green;
}
.down{
    color:red;
}
.table-header{
    font-size: .9em;
    font-weight: 65;
}
.table-content{
    text-align: left;
}
.unit-lg {
    font-size: 1.5rem;
    line-height: .5;
 }
 
 .price-lg {
    font-size: 2.2rem;
    line-height: .8;
 }